<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Registeration/Login website</title>
</head>

<body>

    <nav class="h1"
    style="text-align: center; background-color:rgb(0, 0, 0); color: white; padding-top: 20px; padding-bottom: 20px;">
    <span class="navbar-text">
      <strong> User Info System </strong>
    </span>
  </nav>    
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>