{% extends "base.html" %}

{% block content %}
<div class="alert alert-info" role="alert">
    <div class="container" style="width: 100%; display: flex; height: 100vh; justify-content: center;">
        <div class="center" style="padding: 40px;">


            <div class="card text-center" style="width: 30rem; margin-top: 5px;">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"><strong>User Registation</strong></h3>
                    <p class="card-text" style="text-align: center;">Click the below button to visit registration
                        page.</p>
                    <a href="{% url 'register' %}" class="btn btn-primary">Register</a>
                </div>
            </div>


            <div class="card text-center" style="width: 30rem; margin-top: 30px;">
                <div class="card-body">
                    <h3 class="card-title" style="text-align: center;"><strong>Existing User</strong></h3>
                    <p class="card-text" style="text-align: center;">Click the below button to visit login page.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                </div>
            </div>


        </div>

    </div>
</div>

{% endblock %}